body {
  padding: 50px;
  font: 120% Helvetica Neue, sans-serif;
}

h1 {
  padding: 1.5rem;
  margin: 0;
  font: 300 180% Helvetica Neue, sans-serif;
}

main {
  width: 40rem;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}

.inputs {
  display: flex;
  padding: .8rem 0;
  margin-bottom: .5rem;
  background: hsl(0,0%,96%);
}

.inputs > label {
  flex: 1;
  padding: 1em;
  margin: 0 .5em;
  color: rgba(0,0,0,.6);
  font-size: 80%;
}

.inputs input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 160%;
  background: transparent;
  padding: .2em 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.4);
  color: black;
  outline: none;
}

.inputs input:focus {
  border-bottom-color: rgba(0,0,0,.8);
}

.outputs {
  padding: 1rem 2em;
  font-size: 80%;
}

.outputs > div {
  display: flex;
  margin: .8em 0;
  align-items: baseline;
}

.report-title {
  font-weight: bold;
}

.report-title-annotation {
  font-size: 70%;
}

.total {
  color: rgba(0,0,0,.5);
}

.total-annotation {
  color: rgba(0,0,0,.5);
  font-size: 70%;
}

.outputs > div span {
  display: inline-block;
  margin-left: auto;
}

.amazing {
  color: hsl(80, 80%, 40%);
  font-weight: bold;
  text-align: right;
}

.danger {
  color: hsl(16, 80%, 40%);
  font-weight: bold;
  text-align: right;
}

.amazing-annotation {
  color: hsl(80, 80%, 40%);
  font-weight: bold;
}

.warn-annotation {
  color: hsl(45, 92%, 57%);
  font-weight: bold;
}

.danger-annotation {
  color: hsl(16, 80%, 40%);
  font-weight: bold;
}

.payment {
  display: inline-block;
  font-size: 180%;
}

.payment::before {
  content: "$"
}

.status-icon {
  color: hsl(80, 80%, 40%);
  width: 13px;
  height: 14px;
  line-height: 0;
  margin-right: .3rem;
}
